.card {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  display: inline-flex;
  width: 18rem;
  margin: 2rem;
  border: 2px solid gray;
  overflow: hidden;
}

.card-img-top {
  border-radius: 20px;
}

.card-title {
  font-size: 24px;
  text-align: center;
}

.card-text {
  text-align: center;
  font-size: 1.3rem;
}
