.aboutpage {
  background: rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.aboutpage p {
  white-space: normal;
}

.self-description {
  /* background: rgba(0, 0, 0, 0.3); */
  font-size: 24px;
  /* text-shadow: 2px 2px darkgrey; */
  color: white;
  line-height: 2em;
}

.skills-set {
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

@media only screen and (max-width: 760px) {
  .aboutpage {
    max-height: 100%;
    max-width: calc(100% - 25px);
  }
  .self-description p {
    font-size: 20px;
  }
  .skills-set {
    font-size: 12px;
    padding-right: 50px;
  }
}
