.aboutpage {
  background: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutpage p {
  white-space: normal;
}

.self-description {
  /* background: rgba(0, 0, 0, 0.3); */
  font-size: 24px;
  /* text-shadow: 2px 2px darkgrey; */
  color: white;
  line-height: 2em;
}

.skills-set {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.skills-set h1 {
}

.main-skills {
  font-size: 1rem;
}

.familiar-skills {
  font-size: 1rem;
}
