.homepage {
  background: rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

.home-content-container {
  height: 100vh;
  align-items: center;
}

.photo {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 100px;
  border: 2px solid white;
}

.photo-container {
  display: flex;
  justify-content: space-between;
}

.statement-container {
  color: white;
  align-items: center;
}

.text-name {
  font-size: 4rem;
}

.text-job-title {
  font-size: 4rem;
}

.paragraph {
  font-size: 20px;
}

@media (min-width: 600px) {
}
