.contactpage {
  background: rgba(0, 0, 0, 0.1);
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.formbox {
  max-width: 100%;
  margin-top: 20vh;
  text-align: center;
}

.formbox textarea {
  height: 20vh;
  width: 50vw;
}

.portfolio-copyright {
  text-align: center;
}

.contactpage p {
  margin-top: 30vh;
}

.portfolio-copyright a {
  all: unset;
}

.portfolio-copyright a:hover {
  all: unset;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .contactpage {
    height: 100%;
    width: calc(100% - 25px);
  }
}
