.contactpage {
  background: rgba(0, 0, 0, 0.1);
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.formbox {
  max-width: 700px;
}

.portfolio-copyright a {
  all: unset;
}
.portfolio-copyright a:hover {
  all: unset;
  cursor: pointer;
}
