body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Entire website background */
  /* background-color: grey; */
  background-image: url(./components/images/background6.jpg);

  /* Create a parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Remove scrollbar */
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
  /* Hide scrollbar for Firefox and IE */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* Content for each page */

.content {
  flex-direction: row;
}

@media only screen and (max-width: 700px) {
  .content {
    flex-direction: column;
  }
}
